/*
Les ressources de type icons et font sont importés directement dans index.html
Ce sont les "<link ... /> trouvé sur https://fonts.google.com/ et https://icons.getbootstrap.com/
*/

body{
  background-color: rgb(95, 95, 95);
  font-family: 'Open Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
}
ul{ 
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}


.content{
 position: fixed;
 margin-left: 300px;/*Bordure externe gauche*/
 margin-top: 40px;
 transition: margin-left .5s ease-in;
 padding: 20px 20px; /*Taille Y X des bordures internes*/
}
.content.large{
  margin-left: 80px;/*Bordure externe gauche*/
  z-index: -1; /*Affiche en dessous*/
 }
.content .profile{
  position: absolute;
  top: 0;
  left: 0;
}
